<% layout('layout') -%>
<div class="container">
  <p>
    <%=user_name ? '안녕하세요. ' + user_name + '님' : ''%>
  </p>
  <p>
    <a href="https://github.com/devhwi/node.js-study">
      <i class="fa fa-github" aria-hidden="true">&nbsp; Go to Github Repository</i>
    </a>
  </p>
</div>