/**
 * Bootstrap4 재정의를 하는 곳
 */
.bg-primary {
  background-color: #991144!important;
}

.btn-primary {
  background-color: #cc2255;
  border-color: #991144;
}
.btn-primary:hover {
  background-color: #ff7788;
  border-color: #ffbbaa;
}